@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Nunito+Sans:opsz@6..12&family=Poppins&display=swap");


:root {
  --blue: rgb(21, 213, 238);
}

body {
  font-family: "Poppins", sans-serif;
}


h3 {
  font-weight: bold;
}
.Header {
  margin-top: 4em;
  margin-bottom: 10em;
}
#Services{
  margin-bottom: 6em;
  margin-left: 5em;
}
#Services h4 {
  color: var(--blue);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*  */
#About {
  font-size: 1.4em;
}
#About p{
  line-height: 2em;
}
#About span {
  color: var(--blue);
  font-weight: bold;
}
#About img{
transform: scale(.8);
}
#About .gh{
  width: 70px;
  height: 70px;
}

#About .icon:hover{
  cursor: pointer;
  transform: scale(1.01);
}

.nav-link:hover{
  color: var(--blue);
}